.achievements__item:not(:last-child) {
  margin-bottom: 43px;
}

.achievement__label  {
  font: 400 18px/30px $open-sans;
  position: relative;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 31px;
  }
}

.achievement__checkbox:checked ~ .achievement__label {
  &::before {
    background: url("../img/icon-yes-red.svg") no-repeat;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .achievements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 120px;
    align-content: space-between;
  }

  .achievements__item:not(:last-child) {
    margin-bottom: 0;
  }

  .achievement__label {
    &::before {
      margin-right: 21px;
    }
  }

  .achievements__item:not(:nth-child(2n)) {
    margin-bottom: 43px;
  }
}
