.advantages__item {
  margin-bottom: 34px;

  &--friendship {
    margin-bottom: 0;
  }
}

.advantages__title {
  font: 700 18px/1 $open-sans;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__description {
  margin: 0;
}

.advantages__breaker {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    color: #000000;
  }

  .advantages__item {
    margin-bottom: 37px;

    &--friendship {
      margin-bottom: 0;
    }
  }

  .advantages__breaker {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    position: relative;
    max-width: 300px;
    margin-bottom: 0;

    &::before {
      content: "";
      width: 292px;
      height: 302px;
      display: block;
      margin: 0 auto;
      margin-bottom: 57px;
    }

    &--mood {
      &::before {
        background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
        background-size: 292px 302px;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/iphone-screen-1-desktop@2x.png");
        }
      }
    }

    &--modify {
      &::before {
        background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat 3px 0;
        background-size: 292px 302px;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/iphone-screen-2-desktop@2x.png");
        }
      }
    }

    &--friendship {
      &::before {
        background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat 4px 0;
        background-size: 292px 302px;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/iphone-screen-3-desktop@2x.png");
        }
      }
    }
  }

  .advantages__title {
    font: 700 30px/1 $open-sans;
    margin-bottom: 24px;
    padding: 0 39px;
  }

  .advantages__description {
    font: 400 18px/30px $open-sans;
    padding: 0 25px;

    &--modify {
      padding: 0 25px;
    }

    &--friendship {
      padding: 0 26px;
    }
  }

  .advantages__breaker {
    display: none;
  }
}
