.banner {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat  50% 0;
  padding: 35px 0 87px;
  background-size: cover;
  // для сетки
  min-height: 170px;
}

.banner__wrapper {
  @include wrapper-mb;
  margin: 0 auto;
}

.banner__text {
  font: 300 24px/24px $open-sans;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .banner {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
    // для сетки
    min-height: 330px;
  }

  .banner__wrapper {
    @include wrapper-tb;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    // для сетки
    min-height: 285px;
  }

  .banner__wrapper {
    @include wrapper-dt;
  }
}
