.contacts {
  position: relative;

  //для сетки
  min-height: 612px;
}

.contacts__wrapper {
  @include wrapper-mb;
  padding-top: 45px;
  padding-bottom: 40px;
}

.contacts__title {
  font: 300 24px/1 $open-sans;
  margin: 0;
  text-align: center;

  &--question {
    margin-bottom: 5px;
  }

  &--response {
    margin-bottom: 38px;
  }
}

.contacts__list {
  @include space-reset;
  list-style: none;
  text-align: center;
}

.contacts__item {
  margin-bottom: 26.5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__type {
  font: 700 18px/1 $open-sans;
  margin: 0;
  margin-bottom: 7px;
  display: inline-block;
}

.contacts__info {
  font: 300 24px/26px $open-sans;
  color: #d22856;
  margin: 0;
}

.contacts__link {
  text-decoration: none;
  color: #d22856;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__map {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;

  &::before {
    content: "";
    height: 123px;
    width: 1200px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: block;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
  }

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }

  &--static {
    background: url("../img/bg-map-mobile@1x.png") no-repeat;
    background-size: 106%;
    background-position: 0 100%;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }

    &::after {
      content: "";
      width: 35px;
      height: 35px;
      background: url("../img/icon-map-marker.svg") no-repeat;
      display: block;
      position: absolute;
      top: 95px;
      left: 52%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    @include wrapper-tb;
    padding-top: 50px;
    padding-bottom: 32px;
  }

  .contacts__title {
    font: 300 40px/1 $open-sans;

    &--question {
      margin-bottom: 8px;
    }

    &--response {
      margin-bottom: 48px;
    }
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__item {
    width: 240px;

    &:nth-child(2n+1) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    .contacts__info {
      font: 300 24px/28px $open-sans;
    }
  }

  .contacts__type {
    margin-bottom: 9px;
  }

  .contacts__map {
    height: 370px;

    &::before {
      top: -55px;
    }

    &--static {
      background-image: url("../img/bg-map-tablet@1x.jpg");
      background-position: -20px -350px;
      background-size: 109%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-map-tablet@2x.jpg");
      }

      &::after {
        top: 190px;
        left: 51%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    @include wrapper-dt;
    padding-top: 68px;
    padding-bottom: 24px;
  }

  .contacts__title {
    font: 300 50px/54px $open-sans;

    &--response {
      margin-bottom: 60px;
    }
  }

  .contacts__type {
    margin-bottom: 27px;
  }

  .contacts__list {
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }

  .contacts__item {
    width: 250px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-child(2n+1) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--phone,
    &--address {
      order: -1;
    }
  }

  .contacts__map {
    height: 500px;

    &::before {
      width: 1200px;
      height: 123px;
      top: 0;
      background: url("../img/bg-triangle-white-footer-desktop.svg") no-repeat;
    }

    &--static {
      background-image: url("../img/bg-map-desktop@1x.jpg");
      background-position: 0 -277px;
      background-size: 100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-map-desktop@2x.jpg");
      }

      &::after {
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
