.demo {
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  height: 396px;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, left bottom;
}
