.downloading {
  background-color: $downloading-bg;


  &::before {
    content: "";
    display: block;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    height: 396px;
    background-position: center;
    background-size: cover;
  }
}

.downloading__wrapper {
  @include wrapper-mb;
  min-height: 270px;
}

.downloading__button {
  margin: 0;
}

.downloading__slogan {
  display: none;
  margin: 0;
  font: 300 40px/1 $open-sans;
  color: #ffffff;
  text-align: center;
}

.downloading__link {
  font: 700 18px/1 $open-sans;
  color: #ffffff;
  text-decoration: none;
  min-width: 280px;
  padding: 17px 30px 15px;
  border: 3px solid #ffffff;
  border-radius: 26px;
  display: block;
}

.downloading__list {
  @include space-reset;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.downloading__description {
  font: 300 14px/24px $open-sans;
  color: #ffffff;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .downloading {
    width: 100%;
    padding-top: 103px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: left bottom;
  }

  .downloading__wrapper {
    @include wrapper-tb;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
    background-position: -40px bottom;
    // для сетки
    min-height: 620px;
  }

  .downloading__slogan {
    display: inline;
  }

  .downloading::before {
    display: none;
  }

  .downloading__content {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .downloading {
    width: 100%;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: left bottom;
  }

  .downloading__wrapper {
    @include wrapper-dt;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
    background-position: -25px bottom;
    // для сетки
    min-height: 745px;
  }

  .downloading__slogan {
    display: inline;
  }
}
