.downloading {
  background-color: $downloading-bg;
  margin-top: -66px;

  &::before {
    content: "";
    display: block;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
    height: 462px;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
}

.downloading__wrapper {
  @include wrapper-mb;
  position: relative;
  padding-top: 28px;
  padding-bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 258px;
    height: 286px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
    background-size: contain;
    top: -286px;
    left: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.downloading__button {
  margin: 0;
  margin-bottom: 32px;
}

.downloading__slogan {
  display: none;
}

.downloading__link {
  font: 700 18px/1 $open-sans;
  color: #ffffff;
  text-decoration: none;
  min-width: 280px;
  padding: 17px 30px 15px;
  border: 3px solid #ffffff;
  border-radius: 26px;
  display: block;
  text-align: center;
}

.downloading__list {
  @include space-reset;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}

.downloading__description {
  font: 300 14px/24px $open-sans;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .downloading {
    padding-top: 103px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    background-size: 1200px auto;
    margin-top: -110px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .downloading__wrapper {
    @include wrapper-tb;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 0 100%;
    background-size: 700px 545px;
    padding-top: 103px;
    padding-bottom: 112px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }

    &::before {
      display: none;
      background-image: none;
    }
  }

  .downloading__slogan {
    display: inline-block;
    font: 300 40px/1 $open-sans;
    color: #ffffff;
    max-width: 220px;
    margin: 0;
    margin-bottom: 40px;
  }

  .downloading::before {
    display: none;
    background-image: none;
  }

  .downloading__content {
    width: 300px;
    text-align: center;
  }

  .downloading__button {
    margin-bottom: 46px;
  }

  .downloading__list {
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .downloading {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .downloading__wrapper {
    @include wrapper-dt;
    padding-top: 120px;
    padding-bottom: 123px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat -25px 100%;
    background-size: 1050px 645px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .downloading__slogan {
    display: inline-block;
    font: 300 50px/1 $open-sans;
    margin-bottom: 62px;
  }

  .downloading__button {
    margin-bottom: 67px;
  }

  .downloading__list {
    margin-bottom: 58px;
  }

  .downloading__description {
    font: 300 18px/24px $open-sans;
  }
}
