.main-footer--index {
  display: none;
}

.main-footer__list {
  @include space-reset;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 177px;
}

.main-footer__wrapper {
  @include wrapper-mb;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer__item {
  flex-shrink: 0;
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 147px;
  height: 40px;

  &:hover .logo-pink__blue--text,
  &:hover .logo-pink__blue--dark-star,
  &:hover .logo-pink__blue--glasses,
  &:hover .logo-pink__blue--red-star {
    fill: #d22856;
  }

  &:active .logo-pink__blue--text,
  &:active .logo-pink__blue--dark-star {
    fill: rgba(40, 54, 69, 0.3);
  }

  &:active .logo-pink__blue--glasses,
  &:active .logo-pink__blue--red-star {
    fill: rgba(210, 40, 86, 0.3);
  }
}

// .main-footer__logo img {
//   vertical-align: top;
//   max-width: 100%;
// }

.main-footer__logo-image--desktop {
  display: none;
}

.logo-pink__blue--text,
.logo-pink__blue--dark-star {
  fill: #283645;
}

.logo-pink__blue--glasses,
.logo-pink__blue--red-star {
  fill: #d22856;
}

.main-footer__link {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 39px;

  // &--twitter {
  //   padding: 16px 13px 15px 14px;
  // }

  // &--facebook {
  //   padding: 12px 18px 15px 18px;
  // }

  // &--youtube {
  //   padding: 15px 13px 17px 17px;
  // }

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: rgba(64, 76, 89, 0.1);
  }
}

.main-footer__link:active .main-footer__icon {
  fill: rgba(210, 40, 86, 0.3);
}

.main-footer__icon {
  fill: #d22856;
}

.main-footer__icon--twitter {
  width: 17.5px;
  height: 14.6px;
}

.main-footer__icon--facebook {
  width: 9.7px;
  height: 19px;
}

.main-footer__icon--youtube {
  width: 14.64px;
  height: 13.96px;
}

.main-footer__license {
  display: flex;
  align-items: center;
  justify-content: center;
  // display: inline;
  line-height: 18px;
  vertical-align: bottom;
}

.main-footer__developer {
  margin: 0;
  margin-right: 15px;
  display: inline-block;
}

.main-footer__developer-link {
  display: inline-block;

  svg {
    vertical-align: top;
    max-width: 100%;
    fill: #d22856;
    width: 27px;
    height: 34px;
  }

  &:hover svg {
    fill: #283645;
  }

  &:active svg {
    fill: rgba(40, 54, 69, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .main-footer--index {
    display: block;
  }

  .main-footer__wrapper {
    @include wrapper-tb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 36px;
    // height: 127px;
  }

  .main-footer__list {
    width: 177px;
    margin: 0;
    margin-right: 20px;
    padding-top: 14px;
    justify-content: space-between;
  }

  // .main-footer__item:not(:last-child) {
  //   margin-right: 12px;
  // }

  .main-footer__license {
    display: flex;
    padding-top: 17px;
  }

  .main-footer__logo,
  .main-footer__link {
    margin: 0;
  }

  .main-footer__developer {
    display: flex;
    align-items: center;
  }

  .main-footer__developer-link {
    svg {
      width: 27px;
      height: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    @include wrapper-dt;
    padding-top: 55px;
    padding-bottom: 87px;

    &--form {
      padding-top: 52px;
      padding-bottom: 72px;
    }

    &--photo {
      padding-top: 85px;
      padding-bottom: 87px;
    }
  }

  .main-footer__logo-image {
    width: 147px;
    height: 40px;
  }

  .main-footer__logo-image--mobile {
    display: none;
  }

  .main-footer__logo-image--desktop {
    display: block;
  }

  .main-footer__developer {
    font-size: 18px;
  }

  .main-footer__list {
    margin-right: 0;
    padding-top: 18px;
    margin-left: 14px;
  }
}
