.main-footer__list {
  @include space-reset;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 177px;
}

.main-footer__wrapper {
  @include wrapper-mb;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer__item {
  flex-shrink: 0;
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-footer__logo img {
  vertical-align: top;
  max-width: 100%;
}

.main-footer__link {
  border-radius: 50%;
  border: 3px solid #e9ebec;
  display: flex;
  margin-bottom: 37px;

  &:hover {
    border-color: #283645;
  }
}

.main-footer__link:active .main-footer__icon {
  fill: rgba(210, 40, 86, 0.3);
}

.main-footer__icon {
  fill: #d22856;
}

.main-footer__icon--twitter {
  width: 17.5px;
  height: 14.6px;
}

.main-footer__icon--facebook {
  width: 9.7px;
  height: 19px;
}

.main-footer__icon--youtube {
  width: 14.64px;
  height: 13.96px;
}

.main-footer__link--twitter {
  padding: 16px 13px 15px 14px;
}

.main-footer__link--facebook {
  padding: 12px 18px 15px 18px;
}

.main-footer__link--youtube {
  padding: 15px 13px 17px 17px;
}

.main-footer__license {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
}

.main-footer__developer {
  margin: 0;
  margin-right: 15px;
}

.main-footer__developer-logo {
  vertical-align: top;
  max-width: 100%;
  width: 27px;
  height: 34px;
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    @include wrapper-tb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .main-footer__license {
    display: flex;
  }

  .main-footer__logo,
  .main-footer__link {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    @include wrapper-dt;
    padding-top: 70px;
    padding-bottom: 87px;
  }

  .main-footer__logo-image {
    width: 147px;
    height: 40px;
  }
}
