.main-navigation {
  background-color: inherit;
  z-index: 2;
}

.main-navigation__list {
  list-style: none;
}

@media (max-width: $tablet-width-only) {
  .main-navigation--closed .site-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation {
    width: 620px;
    display: flex;
  }

  .main-navigation__list {
    display: flex;
  }
}
