.offer {
  background-image: linear-gradient(-5deg, #f2f2f2 70%, #f2f2f2 30%, #ffffff 30%);
}

.offer__wrapper {
  @include wrapper-mb;
  padding-top: 42px;
}

.offer__slogan {
  font: 300 24px/28px $open-sans;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.offer__list {
  @include space-reset;
  list-style: none;
  text-align: center;
  padding-top: 87px;
  padding-bottom: 317px;
  position: relative;

  &::after {
    content: "";
    width: 157px;
    height: 320px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    background-size: 157px 320px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -43px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .offer {
    background-image: linear-gradient(-5deg, #f2f2f2 62%, #f2f2f2 38%, #ffffff 38%);
  }

  .offer__wrapper {
    @include wrapper-tb;
    padding-top: 50px;
    padding-bottom: 43px;
  }

  .offer__list {
    padding-left: 310px;
    padding-top: 127px;
    padding-bottom: 0;
    text-align: left;
    position: relative;

    &::before {
      content: "";
      width: 268px;
      height: 481px;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
      background-size: 268px 481px;
      position: absolute;
      left: 0;
      top: 54px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }

    &::after {
      display: none;
      background-image: none;
    }
  }

  .offer__slogan {
    margin: 0;
    font: 300 40px/46px $open-sans;
  }
}

@media (min-width: $desktop-width) {
  .offer__wrapper {
    @include wrapper-dt;
    padding-top: 66px;
  }

  .offer__slogan {
    font: 300 50px/60px $open-sans;
  }

  .offer__slogan:last-of-type {
    margin-bottom: 74px;
  }

  .offer__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-align: center;

    &::before,
    &::after {
      display: none;
    }
  }
}
