.offer {
  background-image: linear-gradient(-5deg, #f2f2f2 78%, #f2f2f2 22%, #ffffff 22%);
}

.offer__wrapper {
  @include wrapper-mb;
  padding-top: 46px;
}

.offer__slogan {
  font: 300 24px/1 $open-sans;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.offer__list {
  @include space-reset;
  list-style: none;
  text-align: center;
  padding-top: 76px;
}

.offer__list::after {
  content: "";
  width: 157px;
  height: 320px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-size: 157px 320px;
  display: block;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .offer {
    background-image: linear-gradient(-5deg, #f2f2f2 63%, #f2f2f2 37%, #ffffff 37%);
  }

  .offer__wrapper {
    @include wrapper-tb;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .offer__list {
    padding-left: 310px;
    padding-top: 125px;
    text-align: left;
    position: relative;
  }

  .offer__list::before {
    content: "";
    width: 268px;
    height: 481px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    background-size: 268px 481px;
    position: absolute;
    left: 0;
    top: 54px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  .offer__list::after {
    display: none;
  }

  .offer__slogan {
    margin: 0;
    font: 300 40px/1 $open-sans;
  }
}

@media (min-width: $desktop-width) {
  .offer__wrapper {
    @include wrapper-dt;
    padding-top: 80px;
  }

  .offer__slogan:last-of-type {
    margin-bottom: 75px;
  }

  .offer__list::before,
  .offer__list::after {
    display: none;
  }

  .offer__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-align: center;
  }
}
