.page-header {
  background-color: $header-bg;
  // для сетки
  min-height: 325px;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
}

.page-header__wrapper {
  @include wrapper-mb;
}

// .posts__image {
//   width: 100%;
//   height: auto;
//   display: block;
// }

@media (min-width: $tablet-width) {
  .page-header {
    // для сетки
    min-height: 365px;
  }

  .page-header__wrapper {
    @include wrapper-tb;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    // для сетки
    min-height: 110px;
  }

  .page-header__wrapper {
    @include wrapper-dt;
    display: flex;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    margin-right: 170px;
  }
}
