.photos {
  overflow: hidden;
}

.photos__wrapper {
  @include wrapper-mb;
}

.photos__text {
  padding: 46px 0 48px;

  &--lower {
    padding: 40px 0 42px;
  }
}

.photos__slogan {
  font: 400 14px/30px $open-sans;
  text-align: center;
  margin: 0;
}

.photos__list {
  @include space-reset;
  list-style: none;
}

.posts__picture {
  display: block;

  &--panorama {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
}

.posts__image {
  width: 100%;
  display: block;
}

@media (min-width: $tablet-width) {
  .photos {
    width: 100%;
  }

  .photos__text {
    padding: 93px 85px 75px;
    text-align: center;

    &--upper .photos__slogan {
      display: inline;
    }

    &--lower {
      padding: 65px 85px 69px;
    }
  }

  .photos__slogan {
    font: 400 18px/30px $open-sans;
  }

  .photos__wrapper {
    @include wrapper-tb;
  }

  .posts__picture--panorama {
    width: calc(100vw + 40px);
    // min-height: 510px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  .posts__item:first-child {
    width: 620px;
  }

  .posts__item:not(:first-child) {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: 100%;
  }

  .photos__wrapper {
    @include wrapper-dt;
  }

  .posts__picture--panorama {
    width: calc(100vw - 20px);
    // margin-right: -10px;
    // margin-left: -10px;
  }

  .photos__text {
    &--upper {
      padding: 93px 85px 87px;

      .photos__slogan {
        display: inline-block;
      }
    }

    &--lower {
      padding: 58px 85px 66px;
    }
  }

  .posts__item:first-child {
    width: 940px;
  }

  .posts__item:not(:first-child) {
    width: 300px;
  }

  .posts__item:nth-child(2n) {
    margin-right: 0;
  }

  .posts__item:not(:nth-child(3n+1)) {
    margin-right: 20px;
  }
}
