.photos {
  overflow: hidden;
}

.photos__wrapper {
  @include wrapper-mb;
}

.photos__text {
  padding: 47px 0 48px;
}

.photos__slogan {
  font: 400 14px/30px $open-sans;
  text-align: center;
  margin: 0;
}

.photos__list {
  @include space-reset;
  list-style: none;
}

.posts__picture {
  display: block;
}

.posts__picture--panorama {
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.posts__image {
  width: 100%;
  display: block;
}

@media (min-width: $tablet-width) {
  .photos {
    width: 100%;
  }

  .photos__text {
    padding: 95px 0 75px;
  }

  .photos__slogan {
    font: 400 18px/30px $open-sans;
  }

  .photos__wrapper {
    @include wrapper-tb;
  }

  .posts__picture--panorama {
    width: calc(100vw + 40px);
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  .posts__item:first-child {
    width: 620px;
  }

  .posts__item:not(:first-child) {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: 100%;
  }

  .photos__wrapper {
    @include wrapper-dt;
  }

  .posts__item:first-child {
    width: 960px;
  }

  .posts__item:not(:first-child) {
    width: 300px;
  }

  .posts__item:nth-child(2n) {
    margin-right: 0;
  }

  .posts__item:not(:nth-child(3n+1)) {
    margin-right: 20px;
  }

  .posts__content--panorama {
    min-height: 120px;
    width: 100vw;
  }
}
