.posts__author {
  @include text-set (14px, 24px, 700);
  font-style: normal;
}

.posts__time {
  @include text-set (14px, 24px, 300);
  text-transform: uppercase;
}

.posts__text {
  @include space-reset;
}

.posts__item {
  background-color: #f2f2f2;
}

.posts__likes {
  background-color: inherit;
  border: none;
  text-transform: uppercase;

  @include space-reset;
  @include text-set (12px, 24px, 400);
  color: #d22856;
}
