.questionnaire {
  overflow: hidden;
}

.questionnaire__wrapper {
  @include wrapper-mb;
  padding-top: 47px;
  padding-bottom: 17px;
}

.questionnaire__form {
  display: flex;
  flex-wrap: wrap;
  // align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.questionnaire__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 100%;

  &--fullname,
  &--enquiry {
    margin-bottom: 42px;
  }

  &--achievements {
    margin-bottom: 34px;
    padding: 0 0 42px;
    background-color: #f2f2f2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #f2f2f2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #f2f2f2;
    }
  }

  &--platform {
    margin-bottom: 34px;
    padding: 40px 0 42px;
    background-color: #f2f2f2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #f2f2f2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #f2f2f2;
    }
  }

  &--emotions {
    margin-bottom: 48px;
  }
}

.questionnaire__title {
  // float:left;
  padding: 40px 30px 0;
  margin-bottom: 40px;
  background-color: inherit;
  font: 400 14px/18px $open-sans;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;

  &--emotions {
    margin-bottom: 12px;
    width: 100%;
  }

  &--enquiry {
    display: none;
  }
}

.questionnaire__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questionnaire__text {
  font: 400 14px/30px $open-sans;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;

  &--expand {
    display: none;
  }
}

.questionnaire__text-field {
  resize: none;
  width: 100%;
  font: 400 18px/30px $open-sans;
  border: 2px solid #e5e5e5;
  padding: 17px 19px;
  display: block;

  &::placeholder {
    font: 400 18px/30px $open-sans;
    color: #283645;
  }
}

.questionnaire__button {
  display: block;
  font: 700 18px/30px $open-sans;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #2aab6d;
  padding: 19px 40px;
  margin-bottom: 36px;
  width: 100%;
}

.questionnaire__footnote {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font: 400 14px/30px $open-sans;

  span {
    color: #d22856;
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__wrapper {
    @include wrapper-tb;
  }

  .questionnaire__text {
    font-size: 18px;

    &--expand {
      display: block;
    }
  }

  .questionnaire__group {
    &--fullname {
      margin-bottom: 52px;
      order: -3;
    }

    &--enquiry {
      padding: 43px 58px 25px;
      border: 2px solid #e5e5e5;
      margin-bottom: 52px;
      order: -1;
    }

    &--emotions {
      padding: 43px 58px 51px;
      border: 2px solid #e5e5e5;
    }

    &--achievements {
      background-color: inherit;
      border: 2px solid #e5e5e5;
      padding: 50px 58px 48px;
      margin-bottom: 52px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &--platform {
      background-color: inherit;
      border: 2px solid #e5e5e5;
      padding: 50px 58px 54px;
      margin-bottom: 52px;
      order: -2;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  .questionnaire__title {
    &--achievements,
    &--platform {
      padding: 0 32px;
      margin: 0;
      float: none;
    }

    &--enquiry,
    &--emotions {
      display: inline;
      padding: 0 32px;
      margin: 0;
      float: none;
      width: auto;
    }
  }

  .questionnaire__button {
    width: 0;
    min-width: 300px;
    display: inline-block;
    margin: 0;
  }

  .questionnaire__footnote {
    display: inline-block;
    min-width: 300px;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .questionnaire__wrapper {
    @include wrapper-dt;
  }

  .questionnaire__form {
    flex-direction: row;
  }

  .questionnaire__group {
    &--enquiry,
    &--achievements,
    &--emotions {
      width: 100%;
    }

    &--fullname {
      width: 435px;
    }

    &--platform {
      width: 435px;
      padding: 50px 31px 54px;
    }
  }

  .questionnaire__title {
    font: 400 14px/30px $open-sans;

    &--platform {
      padding: 0 25px;
    }
  }

  .enquiry {
    display: flex;
    justify-content: space-between;
  }

  .enquiry__item {
    width: 375px;
  }

  .questionnaire__text {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 34px;

    &--expand {
      display: inline;
    }
  }
}
