.tariffs {
  background-color: #f2f2f2;
}

.tariffs__wrapper {
  @include wrapper-mb;
  padding-top: 66px;
  padding-bottom: 99px;
  overflow: hidden;
  position: relative;
}

.tariffs__list {
  width: 300%;
  border-collapse: collapse;
  transform: translateX(-33.333333%);

  th,
  td {
    position: relative;
  }
}

.tariffs__mobile-list {
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.tarrifs__type,
.tariffs__details {
  border: 2px solid #e7e7e7;
  background-color: #ffffff;
  padding: 15px 24px 14px;
  font: 400 14px/30px $open-sans;
  color: #283645;
  text-transform: uppercase;
}

.tariffs__header {
  color: #ffffff;
  background-color: #283645;
  padding: 16px 70px 21px;
  font: 300 24px/30px $open-sans;
  text-transform: uppercase;
  position: relative;

  &--empty {
    background-color: transparent;
  }

  span {
    font: 700 18px/30px $open-sans;
  }
}

.tariffs__header:nth-child(3) {
  border-left: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  // border-top: 2px solid #e7e7e7;
}

.tariffs__header--empty,
.tarrifs__type {
  display: none;
}

.tariffs__header--hit {
  &::before {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    display: block;
    background: url("../img/bg-hit.svg") no-repeat;
    top: 3px;
    left: -1px;
  }

  &::after {
    content: "ХИТ";
    width: 73px;
    height: 73px;
    position: absolute;
    display: block;
    top: 8px;
    left: 3px;
    font: 400 14px/30px $open-sans;
    transform: rotate(-45deg);
  }
}

.tariffs__controls {
  position: absolute;
  display: block;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 62px;
}

.tariffs__button {
  @include button-reset;
  display: inline-block;
  padding: 3px;
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%;
  vertical-align: middle;

  &:not(:last-child) {
    margin-right: 9px;
  }

  &--active {
    background-color: transparent;
    border: 3px solid #283645;
  }

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.tariffs__details--yes {
  &::before {
    content: "";
    width: 31px;
    height: 21px;
    background: url("../img/icon-yes.svg") no-repeat;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    background-size: contain;
  }
}

.tariffs__details--no {
  &::before {
    content: "";
    width: 27px;
    height: 27px;
    background: url("../img/icon-no.svg") no-repeat;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .tariffs__wrapper {
    @include wrapper-tb;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 69px;
  }

  .tariffs__list {
    width: 100%;
    transform: none;
    // display: block;
  }

  .tariffs__mobile-list {
    display: none;
  }

  .tariffs__header {
    font: 300 18px/30px $open-sans;
    padding: 12px 31px 8px;
    width: 154px;

    span {
      font: 700 16px/30px $open-sans;
    }
  }

  .tariffs__header--empty,
  .tarrifs__type {
    display: table-cell;
  }

  .tarrifs__type {
    text-transform: none;
    padding: 5px 15px 9px 15px;
  }

  .tariffs__details span {
    display: none;
  }

  .tariffs__details--yes,
  .tariffs__details--no {
    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tariffs__controls {
    display: none;
  }

  .tariffs__header--hit {
    &::before {
      content: "";
      width: 61px;
      height: 61px;
      position: absolute;
      display: block;
      background: url("../img/bg-hit-tablet.svg") no-repeat;
      top: 1px;
      left: -1px;
    }

    &::after {
      content: "ХИТ";
      width: 61px;
      height: 61px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      font: 400 14px/30px $open-sans;
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .tariffs__wrapper {
    @include wrapper-dt;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 95px;
  }

  .tariffs__header {
    font: 300 24px/30px $open-sans;
    padding: 14px 50px 20px;
    width: 235px;

    span {
      font: 700 18px/30px $open-sans;
    }
  }

  .tarrifs__type {
    font: 400 18px/30px $open-sans;
    padding: 13px 22px 15px 22px;
  }

  .tariffs__header--hit {
    &::before {
      content: "";
      width: 73px;
      height: 73px;
      position: absolute;
      display: block;
      background: url("../img/bg-hit.svg") no-repeat;
      top: 0;
      left: -1px;
    }

    &::after {
      content: "ХИТ";
      width: 73px;
      height: 73px;
      position: absolute;
      display: block;
      top: 4px;
      left: 2px;
      font: 400 14px/30px $open-sans;
      transform: rotate(-45deg);
    }
  }
}
