html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

.page-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3); }

.page-header__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-bottom: 1px solid #000000;
  margin: 0 -20px;
  padding: 0 20px;
  height: 66px;
  z-index: 5; }

.main-navigation--closed ~ .page-header__top {
  border-bottom: none; }

.page-header__logo {
  vertical-align: top;
  max-width: 100%;
  margin-top: 22px; }

.page-header__logo-image {
  fill: #ffffff;
  color: #d22856; }
  .page-header__logo-image:hover {
    fill: #d22856; }
  .page-header__logo-image:active {
    fill: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3); }

.page-header__logo-image--tablet,
.page-header__logo-image--desktop {
  display: none; }

.page-header__toggle {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 21px; }

.main-navigation--closed ~ .page-header__top .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
          box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff; }

.main-navigation--closed ~ .page-header__top .page-header__toggle:hover::before {
  background-color: #d22856;
  -webkit-box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
          box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856; }

.main-navigation--closed ~ .page-header__top .page-header__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  -webkit-box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3);
          box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3); }

.main-navigation--opened ~ .page-header__top .page-header__toggle {
  width: 23px;
  height: 23px; }
  .main-navigation--opened ~ .page-header__top .page-header__toggle::before, .main-navigation--opened ~ .page-header__top .page-header__toggle::after {
    content: "";
    top: 12px;
    left: 0;
    position: absolute;
    width: 22px;
    height: 4px;
    background-color: #ffffff; }
  .main-navigation--opened ~ .page-header__top .page-header__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-navigation--opened ~ .page-header__top .page-header__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-navigation--opened ~ .page-header__top .page-header__toggle:hover::before, .main-navigation--opened ~ .page-header__top .page-header__toggle:hover::after {
  background-color: #d22856; }

.main-navigation--opened ~ .page-header__top .page-header__toggle:active::before, .main-navigation--opened ~ .page-header__top .page-header__toggle:active::after {
  background-color: rgba(210, 40, 86, 0.3); }

.main-navigation--opened::before {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  top: 0;
  bottom: 0;
  background-color: #283645;
  z-index: -1; }

@media (min-width: 660px) {
  .page-header__wrapper {
    width: 660px; }
  .page-header__top {
    height: 109px; }
  .main-navigation--closed ~ .page-header__top {
    height: 109px; }
  .page-header__logo {
    margin-top: 27px; }
  .page-header__logo-image {
    display: block;
    height: auto;
    width: 150px; }
  .page-header__logo-image--mobile,
  .page-header__logo-image--desktop {
    display: none; }
  .page-header__toggle {
    margin-top: 44px; } }

@media (min-width: 960px) {
  .page-header__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-header__toggle {
    display: none; }
  .page-header__logo-image {
    display: block;
    height: auto;
    width: 150px; }
  .page-header__logo-image--mobile,
  .page-header__logo-image--tablet {
    display: none; }
  .page-header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border: none;
    margin: 0;
    padding: 0;
    height: 69px;
    width: 320px; } }

.main-navigation {
  background-color: inherit;
  z-index: 2; }

.main-navigation__list {
  list-style: none; }

@media (max-width: 959px) {
  .main-navigation--closed .site-list {
    display: none; } }

@media (min-width: 960px) {
  .main-navigation__toggle {
    display: none; }
  .main-navigation {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.site-list {
  padding: 0;
  margin: 0; }

.site-list__link {
  display: block;
  font: 700 18px/32px "Open Sans", "arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  margin: 0 -20px;
  padding: 18px 0 17px; }

.site-list a[href]:hover {
  color: #d22856; }

.site-list a[href]:active {
  color: rgba(210, 40, 86, 0.3); }

@media (min-width: 960px) {
  .site-list__item:not(:last-child) {
    margin-right: 79px; }
  .site-list {
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .site-list__link {
    font: 400 18px/18px "Open Sans", "arial", sans-serif;
    text-transform: capitalize;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0; } }

.demo {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat, url("../img/bg-back-mobile@1x.jpg") no-repeat;
  height: 396px;
  width: 320px;
  margin: 0 auto;
  background-position: left bottom, left bottom; }

@media (min-width: 660px) {
  .demo {
    display: none; } }

.downloading {
  background-color: #1d2631;
  margin-top: -66px; }
  .downloading::before {
    content: "";
    display: block;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
    height: 462px;
    background-size: cover; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .downloading::before {
        background-image: url("../img/bg-back-mobile@2x.jpg"); } }

.downloading__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
  padding-top: 28px;
  padding-bottom: 32px; }
  .downloading__wrapper::before {
    content: "";
    position: absolute;
    display: block;
    width: 258px;
    height: 286px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
    background-size: contain;
    top: -286px;
    left: 0; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .downloading__wrapper::before {
        background-image: url("../img/iphone-hand-mobile@2x.png"); } }

.downloading__button {
  margin: 0;
  margin-bottom: 32px; }

.downloading__slogan {
  display: none; }

.downloading__link {
  font: 700 18px/1 "Open Sans", "arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  min-width: 280px;
  padding: 17px 30px 15px;
  border: 3px solid #ffffff;
  border-radius: 26px;
  display: block;
  text-align: center; }

.downloading__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.downloading__description {
  font: 300 14px/24px "Open Sans", "arial", sans-serif;
  color: #ffffff;
  margin: 0;
  text-align: center; }

@media (min-width: 660px) {
  .downloading {
    padding-top: 103px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    background-size: 1200px auto;
    margin-top: -110px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .downloading {
      background-image: url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 660px) {
  .downloading__wrapper {
    width: 660px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 0 100%;
    background-size: 700px 545px;
    padding-top: 103px;
    padding-bottom: 112px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .downloading__wrapper {
      background-image: url("../img/iphone-hand-tablet@2x.png"); } }

@media (min-width: 660px) {
    .downloading__wrapper::before {
      display: none;
      background-image: none; }
  .downloading__slogan {
    display: inline-block;
    font: 300 40px/1 "Open Sans", "arial", sans-serif;
    color: #ffffff;
    max-width: 220px;
    margin: 0;
    margin-bottom: 40px; }
  .downloading::before {
    display: none;
    background-image: none; }
  .downloading__content {
    width: 300px;
    text-align: center; }
  .downloading__button {
    margin-bottom: 46px; }
  .downloading__list {
    margin-bottom: 39px; } }

@media (min-width: 960px) {
  .downloading {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
    .downloading {
      background-image: url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 960px) {
  .downloading__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 120px;
    padding-bottom: 123px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat -25px 100%;
    background-size: 1050px 645px; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
    .downloading__wrapper {
      background-image: url("../img/iphone-hand-desktop@2x.png"); } }

@media (min-width: 960px) {
  .downloading__slogan {
    display: inline-block;
    font: 300 50px/1 "Open Sans", "arial", sans-serif;
    margin-bottom: 62px; }
  .downloading__button {
    margin-bottom: 67px; }
  .downloading__list {
    margin-bottom: 58px; }
  .downloading__description {
    font: 300 18px/24px "Open Sans", "arial", sans-serif; } }

.platforms__link {
  display: block;
  vertical-align: top;
  max-width: 100%; }

.offer {
  background-image: linear-gradient(-5deg, #f2f2f2 78%, #f2f2f2 22%, #ffffff 22%); }

.offer__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 46px; }

.offer__slogan {
  font: 300 24px/1 "Open Sans", "arial", sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 40px; }

.offer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  padding-top: 76px; }

.offer__list::after {
  content: "";
  width: 157px;
  height: 320px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-size: 157px 320px;
  display: block;
  margin: 0 auto; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .offer__list::after {
      background-image: url("../img/iphone-screen-mobile@2x.png"); } }

@media (min-width: 660px) {
  .offer {
    background-image: linear-gradient(-5deg, #f2f2f2 63%, #f2f2f2 37%, #ffffff 37%); }
  .offer__wrapper {
    width: 660px;
    padding-top: 60px;
    padding-bottom: 40px; }
  .offer__list {
    padding-left: 310px;
    padding-top: 125px;
    text-align: left;
    position: relative; }
  .offer__list::before {
    content: "";
    width: 268px;
    height: 481px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    background-size: 268px 481px;
    position: absolute;
    left: 0;
    top: 54px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .offer__list::before {
      background-image: url("../img/iphone-screen-3-tablet@2x.png"); } }

@media (min-width: 660px) {
  .offer__list::after {
    display: none;
    background-image: none; }
  .offer__slogan {
    margin: 0;
    font: 300 40px/1 "Open Sans", "arial", sans-serif; } }

@media (min-width: 960px) {
  .offer__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px; }
  .offer__slogan:last-of-type {
    margin-bottom: 75px; }
  .offer__list::before,
  .offer__list::after {
    display: none;
    background-image: none; }
  .offer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    text-align: center; } }

.effect {
  display: none; }

.effect__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
  padding-top: 56px;
  padding-bottom: 104px; }

.effect__content {
  width: 310px;
  padding-top: 43px;
  padding-right: 10px; }

.effect__picture {
  padding: 0;
  margin: 0; }

.effect__slogan {
  margin: 0;
  margin-bottom: 23px; }

.effect__description {
  margin: 0;
  margin-bottom: 15px; }

.effect__link {
  color: #d22856; }

@media (min-width: 660px) {
  .effect {
    display: block; }
  .effect__wrapper {
    width: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .effect__slogan {
    font: 700 30px/36px "Open Sans", "arial", sans-serif;
    color: #000000; }
  .effect__wrapper::after {
    content: "24";
    display: block;
    position: absolute;
    text-align: center;
    font: 700 96px/149.47px "Open Sans", "arial", sans-serif;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 50%;
    height: 202px;
    width: 202px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    left: 39px;
    top: 111px;
    z-index: 5; } }

.effect__wrapper::before {
  content: "";
  display: block;
  position: relative;
  width: 240px;
  height: 275px;
  background: url("../img/icon-timer.svg") no-repeat;
  background-size: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 0;
  left: 0; }

@media (min-width: 960px) {
  .effect {
    background-color: #f2f2f2; }
  .effect__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 68px; }
  .effect__slogan {
    font: 700 30px/1 "Open Sans", "arial", sans-serif;
    color: #000000; }
  .effect__content {
    padding-top: 97px;
    width: 532px;
    font: 400 18px/30px "Open Sans", "arial", sans-serif; }
  .effect__content::before {
    width: 298px;
    height: 345px; }
  .effect__wrapper::before {
    height: 345px;
    width: 300px; }
  .effect__wrapper::after {
    height: 253px;
    width: 253px;
    left: 32px;
    top: 137.5px;
    font: 700 120px/186.9px "Open Sans", "arial", sans-serif; } }

.advantages__item {
  margin-bottom: 42px; }

.advantages__title {
  font: 700 18px/1 "Open Sans", "arial", sans-serif;
  margin: 0;
  margin-bottom: 15px; }

.advantages__description {
  margin: 0; }

@media (min-width: 660px) {
  .advantages__item--friendship {
    margin-bottom: 0; }
  .advantages__title {
    color: #000000; } }

@media (min-width: 960px) {
  .advantages__item {
    position: relative;
    max-width: 292px;
    margin-bottom: 0; }
    .advantages__item::before {
      content: "";
      width: 292px;
      height: 302px;
      display: block;
      margin: 0 auto;
      margin-bottom: 60px; }
    .advantages__item--mood::before {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
      background-size: 292px 302px; } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      .advantages__item--mood::before {
        background-image: url("../img/iphone-screen-1-desktop@2x.png"); } }

@media (min-width: 960px) {
    .advantages__item--modify::before {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
      background-size: 292px 302px; } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      .advantages__item--modify::before {
        background-image: url("../img/iphone-screen-2-desktop@2x.png"); } }

@media (min-width: 960px) {
    .advantages__item--friendship::before {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
      background-size: 292px 302px; } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      .advantages__item--friendship::before {
        background-image: url("../img/iphone-screen-3-desktop@2x.png"); } }

@media (min-width: 960px) {
  .advantages__title {
    font: 700 30px/1 "Open Sans", "arial", sans-serif;
    margin-bottom: 25px;
    padding: 0 26px; }
  .advantages__description {
    font: 400 18px/30px "Open Sans", "arial", sans-serif;
    padding: 0 26px; } }

.banner {
  margin-top: -66px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  padding: 100px 0 87px;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .banner {
      background-image: url("../img/bg-back-mobile@2x.jpg"); } }

.banner__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin: 0 auto; }

.banner__text {
  font: 300 24px/24px "Open Sans", "arial", sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0; }

@media (min-width: 660px) {
  .banner {
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    padding: 190px 0 150px;
    background-size: 1200px auto; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .banner {
      background-image: url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 660px) {
  .banner__text {
    font: 300 50px/50px "Open Sans", "arial", sans-serif;
    margin: 0; }
  .banner__wrapper {
    width: 660px; } }

@media (min-width: 960px) {
  .banner {
    background: url("../img/bg-back-desktop@1x.jpg") 50% 0;
    background-size: 2560px auto; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
    .banner {
      background-image: url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 960px) {
  .banner__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px; } }

.photos {
  overflow: hidden; }

.photos__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

.photos__text {
  padding: 47px 0 48px; }

.photos__slogan {
  font: 400 14px/30px "Open Sans", "arial", sans-serif;
  text-align: center;
  margin: 0; }

.photos__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.posts__picture {
  display: block; }

.posts__picture--panorama {
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative; }

.posts__image {
  width: 100%;
  display: block; }

@media (min-width: 660px) {
  .photos {
    width: 100%; }
  .photos__text {
    padding: 95px 0 75px; }
  .photos__slogan {
    font: 400 18px/30px "Open Sans", "arial", sans-serif; }
  .photos__wrapper {
    width: 660px; }
  .posts__picture--panorama {
    width: calc(100vw + 40px); }
  .photos__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .posts__item:first-child {
    width: 620px; }
  .posts__item:not(:first-child) {
    width: 300px; } }

@media (min-width: 960px) {
  .photos {
    width: 100%; }
  .photos__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px; }
  .posts__item:first-child {
    width: 960px; }
  .posts__item:not(:first-child) {
    width: 300px; }
  .posts__item:nth-child(2n) {
    margin-right: 0; }
  .posts__item:not(:nth-child(3n+1)) {
    margin-right: 20px; }
  .posts__content--panorama {
    min-height: 120px;
    width: 100vw; } }

.posts__item {
  position: relative;
  background-color: #f2f2f2; }

.posts__banner {
  position: absolute;
  font: 700 12px/24px "Open Sans", "arial", sans-serif;
  color: #ffffff;
  display: inline-block;
  padding: 7px 20px 5px;
  margin: 0;
  background-color: #d22856;
  top: 0;
  right: 0;
  text-transform: uppercase; }

.posts__content {
  padding: 20px 18px 22px; }

.posts__author {
  font: 700 14px/24px "Open Sans", "arial", sans-serif;
  font-style: normal;
  display: inline-block;
  margin-right: 5px; }

.posts__time {
  font: 300 12px/24px "Open Sans", "arial", sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 3px;
  display: inline-block; }

.posts__text {
  padding: 0;
  margin: 0;
  margin-bottom: 10px; }

.posts__item:not(:last-child) {
  margin-bottom: 20px; }

.posts__likes {
  background-color: inherit;
  border: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font: 400 12px/24px "Open Sans", "arial", sans-serif;
  color: #d22856; }
  .posts__likes::before {
    content: "";
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg") no-repeat;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 19px; }

@media (min-width: 660px) {
  .posts__item:nth-child(2n) {
    margin-right: 20px; }
  .posts__item:not(:last-child) {
    margin-bottom: 0; }
  .posts__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px; }
  .posts__content {
    padding: 25px 27px 24px;
    min-height: 155px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .posts__content--panorama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .posts__content-wrapper {
    width: 50%; }
  .posts__text {
    margin-bottom: 0; }
  .posts__text--panorama {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .posts__item:first-child {
    margin-bottom: 50px; }
  .posts__likes {
    position: relative;
    width: 100%;
    text-align: left; }
    .posts__likes::before {
      display: none; }
    .posts__likes::after {
      content: "";
      width: 13px;
      height: 12px;
      background: url("../img/icon-heart.svg") no-repeat;
      position: absolute;
      right: 0;
      top: 4px; }
    .posts__likes--panorama {
      width: 50%;
      text-align: right;
      padding-right: 60px; } }

@media (min-width: 960px) {
  .posts__content--panorama {
    min-height: 120px; }
  .posts__item:nth-child(2n) {
    margin-right: 0; }
  .posts__item:not(:nth-child(3n+1)) {
    margin-right: 20px; }
  .posts__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0; }
  .posts__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 20px; } }

.main-footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 177px; }

.main-footer__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px; }

.main-footer__item {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 147px;
  height: 40px; }

.main-footer__logo-image--desktop {
  display: none; }

.logo-pink__blue--text,
.logo-pink__blue--dark-star {
  fill: #283645; }

.logo-pink__blue--glasses,
.logo-pink__blue--red-star {
  fill: #d22856; }

.main-footer__logo:hover .logo-pink__blue--text,
.main-footer__logo:hover .logo-pink__blue--dark-star,
.main-footer__logo:hover .logo-pink__blue--glasses,
.main-footer__logo:hover .logo-pink__blue--red-star {
  fill: #d22856; }

.main-footer__logo:active .logo-pink__blue--text,
.main-footer__logo:active .logo-pink__blue--dark-star {
  fill: rgba(40, 54, 69, 0.3); }

.main-footer__logo:active .logo-pink__blue--glasses,
.main-footer__logo:active .logo-pink__blue--red-star {
  fill: rgba(210, 40, 86, 0.3); }

.logo-pink__blue--text,
.logo-pink__blue--dark-star {
  fill: #283645; }

.main-footer__link {
  border-radius: 50%;
  border: 3px solid #e9ebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px; }
  .main-footer__link:hover {
    border-color: #283645; }

.main-footer__link:active .main-footer__icon {
  fill: rgba(210, 40, 86, 0.3); }

.main-footer__icon {
  fill: #d22856; }

.main-footer__icon--twitter {
  width: 17.5px;
  height: 14.6px; }

.main-footer__icon--facebook {
  width: 9.7px;
  height: 19px; }

.main-footer__icon--youtube {
  width: 14.64px;
  height: 13.96px; }

.main-footer__link--twitter {
  padding: 16px 13px 15px 14px; }

.main-footer__link--facebook {
  padding: 12px 18px 15px 18px; }

.main-footer__link--youtube {
  padding: 15px 13px 17px 17px; }

.main-footer__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 18px; }

.main-footer__developer {
  margin: 0;
  margin-right: 15px; }

.main-footer__developer-logo {
  vertical-align: top;
  max-width: 100%;
  width: 27px;
  height: 34px;
  fill: #d22856; }
  .main-footer__developer-logo:hover {
    fill: #283645; }
  .main-footer__developer-logo:active {
    fill: rgba(40, 54, 69, 0.3); }

@media (min-width: 660px) {
  .main-footer__wrapper {
    width: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 36px;
    padding-bottom: 37px; }
  .main-footer__license {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-footer__logo,
  .main-footer__link {
    margin: 0; } }

@media (min-width: 960px) {
  .main-footer__wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
    padding-bottom: 87px; }
  .main-footer__logo-image {
    width: 147px;
    height: 40px; }
  .main-footer__logo-image--mobile {
    display: none; }
  .main-footer__logo-image--desktop {
    display: block; } }

/*# sourceMappingURL=style.css.map */
