@mixin space-reset {
  padding: 0;
  margin: 0;
}

@mixin text-set ($size: 14px, $height: 24px, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin wrapper-mb {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@mixin wrapper-tb {
  width: 660px;
}

@mixin wrapper-dt {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
