$header-bg: #283645;
$header-inh-bg: rgba(0, 0, 0, 0.3);
$color-gl: #283645;
$downloading-bg: #1d2631;
$open-sans: "Open Sans", "arial", sans-serif;
$tablet-width: 660px;
$desktop-width: 960px;
$tablet-width-only: 959px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
